div.drillshow {
  width: 50%;
  border-radius: 5px;
  margin: auto;
  border: 3px solid #51abc9;
  background-color: #d64161;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
