{
   box-sizing: border-box;
}

body {
   font-family: Arial;
   padding: 10px;
   background: #222;
}

/* Header/Blog Title */
.header {
   padding: 25px 50px 75px 100px;
   text-align: center;
   background: #00A1E4;
}

.header h1 {
   font-size: 50px;
   color: #f2f2f2;
   text-shadow: 2px 2px 4px #000000;
}

.header img {
  width: 10%;
  height: auto;
  float: left;
}

/* Style the top navigation bar */
.navigation {
   overflow: hidden;
   background-color: #04E762;
}

/* Style the topnav links */
.navigation a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-shadow: 1px 1px 2px #000000;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

/* Change color on hover */
.navigation a:hover {
   background-color: #ff7b25;
   color: #f2f2f2;

}

/* Footer */
.footer {
   padding: 20px;
   text-align: center;
   color: #fff;
   margin-top: 20px;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
   .leftcolumn, .rightcolumn {
       width: 100%;
       padding: 0;
   }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
   .topnav a {
       float: none;
       width: 100%;
   }
}
